* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html, body {
height: 100%;
font-family: Arial;
}

.container {
height: 100%;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
url("./assets/background2.jpg") no-repeat center center fixed;
background-size: cover;
}

.create-menu {
width: 90%;
max-width: 450px;
padding: 20px;
background-color: white;
border-radius: 16px;
display: flex;
flex-direction: column;
align-items: center;
gap: 12px;
box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.create-menu h2 {
margin-bottom: 10px;
}

.create-menu input {
width: 100%;
padding: 10px;
border: 1px solid #ccc;
border-radius: 20px;
outline: none;
}

.create-menu button {
width: 100%;
padding: 10px;
border: none;
background-color: #2e3cfc;
color: white;
border-radius: 20px;
cursor: pointer;
font-size: 16px;
}

.create-menu button:hover {
background-color: #4251ff;
}

.create-menu a {
font-size: 14px;
color: #2e3cfc;
text-decoration: none;
}