* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) no-repeat center center fixed;
    background-size: cover;
}

.register-box {
    width: 90%;
    max-width: 450px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
    position: relative;
}

.register-box h2 {
    text-align: center;
    margin-bottom: 10px;
}

label {
    font-size: 14px;
}


select, input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 12px;
    font-size: 14px;
}

.seats {
    padding: 10px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 15px;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    background-color: #2e3cff;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.15);
}

button:hover {
    background-color: #4251ff;
}